

.label-icon {
    width: 2rem;
    height: 2rem;
}

.label-icon:hover {
    background-color: rgb(214, 214, 214);
}

.editor-container {
    box-shadow: inset 3px -3px 10px gray;
    width: 25rem;
    height: fit-content;
    padding: 1rem;
    margin-top: 1rem;
}

.note-title {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
}

.note-content {
    border: 1px solid var(--text-color);
    padding: 8px;
}

.note-specification {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.label-icon-container {
    position: relative;
}

.color-pallete {
    position: absolute;
    top: 2rem;
    right: -2rem;
    display: flex;
}

.color-icon {
    height: 2.5rem;
    width: 2.5rem;
    
}

.color-sky {
    color: #67e8f9;
}

.color-yellow {
    color: #fde047;
}

.color-red {
    color: #f87171;
}

.color-green {
    color: #86efac;
}